Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

The number of exponents is too damn high (#5456)
  cirq-core/cirq/testing/consistent_protocols.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Adds missing consistent mixture tests. (#5454)
  cirq-core/cirq/testing/consistent_channels.py
  cirq-core/cirq/testing/consistent_channels_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add numpy support for Google serialization (#5451)
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

DeviceSpecification serialization implementation (#5375)
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/devices/known_devices.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Delete QAOA docs moved to ReCirq, remove links (#5452)
  docs/tutorials/_index.yaml
  docs/tutorials/educators/qaoa_ising.ipynb
  docs/tutorials/educators/qaoa_ising.tst
  docs/tutorials/ionq/binary_paintshop.ipynb
  docs/tutorials/qaoa.ipynb
  docs/tutorials/qaoa.tst
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy

Fix circuit api rendering issues (#5462)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove execution result from notebooks (#5326)
  docs/tutorials/educators/ion_device.ipynb
  docs/tutorials/hidden_linear_function.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix WaitGate parameter resolution with multiple qubits (#5478)
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/ops/wait_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add private_map to cirq api docs gen. (#5468)
  dev_tools/docs/build_api_docs.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Publish sample Z phase errors (#5378)
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_08_26_zphase.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_04_20_zphase.json
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/engine/util.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Prefer range(x) not range(0, x) (#5484)
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/state_preparation_channel.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/states_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-google/cirq_google/line/placement/optimization.py
  docs/tutorials/quantum_walks.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @aasfaw, @rmlarose

Remove special CXPowGate.on. (#5471)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove unnecessary state copy (#5469)
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Allow choice of subdimension in cirq.apply_unitary (#4910)
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove deprecated qubit_set. (#5464)
  cirq-core/cirq/devices/unconstrained_device.py
  cirq-core/cirq/devices/unconstrained_device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @HGSilveri

Setup for disabling state_vector copy (#5324)
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/xeb_simulation.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/sim/state_vector_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  docs/simulation.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/fourier_checking.ipynb
  examples/stabilizer_code.ipynb
  examples/stabilizer_code_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @mrwojtek, @wcourtney, @verult, @aasfaw, @rmlarose

Create a notebook describing parameter sweeps (#5437)
  docs/params.ipynb
  docs/simulate/_index.yaml
  docs/simulation.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Add supported sympy expressions to Google devices documentation (#5472)
  docs/google/devices.md
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Union[None, X] is Optional[X] (#5489)
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/pow_protocol.py
  cirq-core/cirq/work/observable_settings.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add IonQTargetGateset and use it for circuit compilations. (#5479)
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/IonQTargetGateset.json
  cirq-ionq/cirq_ionq/json_test_data/IonQTargetGateset.repr
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Add Visualizing Results section to Basics tutorial, other minor improvements. (#5406)
  docs/tutorials/basics.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Cleanup cirq.Circuit api docs. (#5467)
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add clarification to notebook external deps in docs (#5473)
  docs/_template.ipynb
  docs/dev/notebooks.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Create a `quil_output.py` in `cirq-rigetti` that doesn't call the `quil` protocol (#5490)
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-rigetti/cirq_rigetti/_quil_output.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  cirq-rigetti/cirq_rigetti/quil_output.py
  cirq-rigetti/cirq_rigetti/quil_output_test.py
Owners: @erichulburd, @kalzoo, @dbanty, @quantumlib/cirq-maintainers, @vtomole, @cduck

The simulate overview page is missing a button. (#5513)
  docs/simulate/_index.yaml
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

[API docs] line_qubit api format. (#5501)
  cirq-core/cirq/devices/line_qubit.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

[API docs] Fix Moment API docs. (#5506)
  cirq-core/cirq/circuits/moment.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Split the Transformers page into Transformers and Custom Transformers (#5414)
  docs/_book.yaml
  docs/transform/_index.yaml
  docs/transform/custom_transformers.ipynb
  docs/transformers.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Move `two_qubit_matrix_to_ion_operations` to cirq/transformers/analytical_decompositions (#5509)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Updated cirq.ionq to cirq_ionq throughout (#5496)
  docs/ionq/access.md
  docs/ionq/calibrations.md
  docs/ionq/circuits.md
  docs/ionq/jobs.md
  docs/ionq/service.md
  docs/tutorials/ionq/getting_started.ipynb
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @aasfaw, @rmlarose, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Make _create_transformer_with_kwargs a public method (#5492)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/target_gatesets/__init__.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy

Parameter sweeps polish (#5515)
  docs/params.ipynb
  docs/simulation.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Move cirq.ion.ion_gates.MSGate to cirq.ops module (#5508)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/ion/ion_gates.py
  cirq-core/cirq/ion/ion_gates_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/parity_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

[API docs] Gate api docs cleanup. (#5503)
  cirq-core/cirq/ops/raw_types.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Update error message when invalid sympy arg is serialized (#5487)
  cirq-google/cirq_google/serialization/arg_func_langs.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Add information on new vendor setup (#5485)
  docs/dev/rfc_process.md
  docs/ecosystem.md
  docs/hardware/_index.yaml
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Move CircuitDag to contrib (#5481)
  cirq-core/cirq/circuits/circuit_dag_test.py
  cirq-core/cirq/contrib/acquaintance/inspection_utils.py
  cirq-core/cirq/contrib/acquaintance/topological_sort_test.py
  cirq-core/cirq/contrib/circuitdag/__init__.py
  cirq-core/cirq/contrib/circuitdag/circuit_dag.py
  cirq-core/cirq/contrib/circuitdag/circuit_dag_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_dag.py
  cirq-core/cirq/contrib/paulistring/pauli_string_optimize.py
  cirq-core/cirq/contrib/paulistring/recombine.py
  cirq-core/cirq/contrib/routing/greedy.py
  cirq-core/cirq/contrib/routing/utils.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

cirq_google GridDevice: set JSON namespace to cirq.google (#5512)
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.GridDevice.json
  cirq-google/cirq_google/json_test_data/cirq.google.GridDevice.repr
  cirq-google/cirq_google/json_test_data/spec.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Dont include global phase gate in decomposition of parameterized CCZPow gate when global_shift is 0 (#5504)
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove stale comment from json_serialization_test.py (#5494)
  cirq-core/cirq/protocols/json_serialization_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
