Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

Fix one qubit gate docstrings to single standard, start gate zoo (#5246)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  docs/gatezoo.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

[cirqflow] run_start_time and run_end_time (#5289)
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.SharedRuntimeInfo.json
  cirq-google/cirq_google/json_test_data/cirq.google.SharedRuntimeInfo.repr
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Fix call signature on Gate to show that it takes Qids. (#5235)
  cirq-core/cirq/contrib/quil_import/quil.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

format-incremental: Print black version (#5295)
  check/format-incremental
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

GateFamily: tag validation (#5101)
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
  cirq-core/cirq/protocols/json_test_data/GateFamily.repr
  cirq-core/cirq/protocols/json_test_data/Gateset.json
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

EngineResult (#5152)
  cirq-core/cirq/study/result.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_local_job_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_result.py
  cirq-google/cirq_google/engine/engine_result_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/simulated_local_job_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.EngineResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.EngineResult.repr
  cirq-google/cirq_google/json_test_data/spec.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

CompilationTargetGateset support in GridDeviceMetadata (#5195)
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json_inward
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.repr
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.repr_inward
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Rename create_act_on_args to create_simulation_state (#5299)
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/density_matrix_utils_test.py
  cirq-core/cirq/sim/simulation_product_state.py
  cirq-core/cirq/sim/simulation_product_state_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Update Neutral Atoms to Transformers (#5311)
  cirq-core/cirq/neutral_atoms/__init__.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_gateset.py
  cirq-core/cirq/neutral_atoms/neutral_atom_gateset_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @HGSilveri

Check controlled subgate/op has mixture (#5294)
  cirq-core/cirq/contrib/quirk/export_to_quirk_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/testing/consistent_protocols.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Minor cleanup of rabi oscillation tutorial. (#5308)
  docs/tutorials/rabi_oscillations.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Update Pasqal Tutorial Documentation (#5316)
  docs/tutorials/pasqal/getting_started.ipynb
Owners: @HGSilveri, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove qid_pairs deprecation. (#5290)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/graph_device/graph_device_test.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.json_inward
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.repr
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.repr_inward
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @HGSilveri

GridDeviceMetadata: Allow to gate duration keys to be a strict subset of gateset (#5309)
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Adjust protocols document (#5297)
  dev_tools/pypath
  docs/protocols.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Gateset: fix invalid repr when gateset is empty (#5322)
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Generalize X and Z to Weyl–Heisenberg gates (#4919)
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add json serialization to SycamoreTargetGateset. (#5314)
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/SycamoreTargetGateset.json
  cirq-google/cirq_google/json_test_data/SycamoreTargetGateset.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

create_device_from_processor_id (#5303)
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

docfixit: interop format (#5305)
  docs/interop.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Minor (cosmetic changes) (#5329)
  examples/hhl.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Speed up circuit building by not forgetting about cached objects (#5280)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Properly use links in docs for external urls (#5220)
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-google/cirq_google/engine/runtime_estimator.py
  dev_tools/conf/.pylintrc
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

GateFamily: add tags to str representation (#5312)
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add native gates for IonQ (#5313)
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/GPI2Gate.json
  cirq-ionq/cirq_ionq/json_test_data/GPI2Gate.repr
  cirq-ionq/cirq_ionq/json_test_data/GPIGate.json
  cirq-ionq/cirq_ionq/json_test_data/GPIGate.repr
  cirq-ionq/cirq_ionq/json_test_data/MSGate.json
  cirq-ionq/cirq_ionq/json_test_data/MSGate.repr
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove qubit_set v0.15 deprecation. (#5304)
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

cirq_google.GridDevice, minus gateset and gate durations (#5203)
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/GridDevice.json
  cirq-google/cirq_google/json_test_data/GridDevice.repr
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

ArithmeticGate implementation (#4702)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/interop/quirk/__init__.py
  cirq-core/cirq/interop/quirk/cells/__init__.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells_test.py
  cirq-core/cirq/interop/quirk/cells/composite_cell_test.py
  cirq-core/cirq/interop/quirk/cells/input_cells_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
  examples/examples_test.py
  examples/shor.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Consistent final_state_vector (#5267)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/mux_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/tutorials/educators/chemistry.ipynb
  docs/tutorials/fourier_checking.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Add `global_shift` parameter to `PhasedISwapPowGate` (#5328)
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.json
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.json_inward
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.repr
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.repr_inward
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Pad inhomogenous result arrays (#5319)
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix Qubit Placement docs (#5321)
  dev_tools/notebooks/isolated_notebook_test.py
  docs/google/qubit-placement.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @aasfaw, @rmlarose, @verult

Api docs simulators (#5333)
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/work/sampler.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Prevent implicit package search from top level setup.py (#5330)
  setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove ids from notebooks (#5325)
  docs/gatezoo.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Encap public fields in cirq.sim (#5320)
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

__init__ for calibrations package (#5342)
  cirq-google/cirq_google/devices/calibrations/__init__.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

IonQ: Log POST body for job submission (#5347)
  cirq-ionq/cirq_ionq/ionq_client.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Handle inverse for Quil's SWAP gate (#5341)
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/swap_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

[cirqflow] Add `target_gateset` to QuantumRuntimeConfiguration (#5336)
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumRuntimeConfiguration.json
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumRuntimeConfiguration.repr
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult
