Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

Move `cirq.contrib.quil_import` to `cirq_rigetti.quil_input` (#5493)
  cirq-core/cirq/contrib/quil_import/__init__.py
  cirq-core/cirq/contrib/requirements.txt
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-rigetti/cirq_rigetti/quil_input.py
  cirq-rigetti/cirq_rigetti/quil_input_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @erichulburd, @kalzoo, @dbanty

Move QuantumStateRepresentation to its own file (#5538)
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/quantum_state_representation.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Set default unitary precision np.complex64 (#5426)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
  cirq-core/cirq/contrib/paulistring/clifford_optimize_test.py
  cirq-core/cirq/contrib/paulistring/convert_gate_set.py
  cirq-core/cirq/contrib/paulistring/optimize_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_dag_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_optimize_test.py
  cirq-core/cirq/contrib/paulistring/separate_test.py
  cirq-core/cirq/contrib/qasm_import/qasm_test.py
  cirq-core/cirq/ion/convert_to_ion_gates_test.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/parallel_gate_test.py
  cirq-core/cirq/ops/phased_x_gate_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
  cirq-core/cirq/optimizers/merge_interactions_test.py
  cirq-core/cirq/testing/circuit_compare_test.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_qasm.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim_test.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap_test.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
  cirq-ionq/cirq_ionq/ionq_gateset_test.py
  docs/transform/custom_transformers.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/quantum_walks.ipynb
  examples/examples_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @aasfaw, @rmlarose

Measurement confusion maps (#5480)
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/experiments/readout_confusion_matrix_test.py
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/protocols/json_test_data/MeasurementGate.json
  cirq-core/cirq/protocols/json_test_data/MeasurementGate.repr
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/simulation_state_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @cduck

Use async grpc client in EngineClient (#5526)
  cirq-core/requirements.txt
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/test_utils.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Rabi content has been moved to ReCirq: Delete the items in Cirq (#5448)
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
  docs/tutorials/_index.yaml
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/educators/intro.tst
  docs/tutorials/rabi_oscillations.ipynb
  examples/qubit_characterizations_example.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Increate test tolerances on some analytical decomposition tests (#5535)
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Classical control phrasing (#5514)
  docs/classical_control.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate `QUIL` functionality from `cirq-core` (#5511)
  cirq-core/cirq/circuits/quil_output.py
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/protocols/quil.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Use new quimb TN string format (#5525)
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate optimize_for_sycamore and optimize_for_xmon (#5531)
  cirq-core/cirq/contrib/paulistring/recombine_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon_test.py
  examples/advanced/quantum_volume_test.py
  examples/examples_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Make CircuitOp.fromjson more efficient (#5527)
  cirq-core/cirq/circuits/circuit_operation.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add async support in EngineClient, EngineSampler, etc. (#5219)
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Test substring for quimb objects (#5529)
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/repr_pretty_tester.py
  cirq-core/cirq/testing/repr_pretty_tester_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Device tutorial rework. (#5395)
  docs/devices.ipynb
  docs/devices.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Guard confusion_map usage (#5534)
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/sim/simulation_state.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Treat default gate families with tags_to_ignore or tags_to_accept as custom gate families in Gatesets (#5553)
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-google/cirq_google/devices/known_devices_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Replace shell_tools.run_shell --> shell_tools.run (#5545)
  dev_tools/bash_scripts_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add new function shell_tools.run (#5528)
  dev_tools/shell_tools.py
  dev_tools/shell_tools_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Downgrade master CI checks to nightly cadence. (#5540)
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Phrasing pass for devices (#5523)
  docs/devices.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Replace shell_tools.run_cmd --> shell_tools.run (#5550)
  dev_tools/cloned_env_test.py
  dev_tools/conftest.py
  dev_tools/env_tools.py
  dev_tools/git_env_tools.py
  dev_tools/packaging/isolated_packages_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove ion and NA tutorials from educators. (#5539)
  docs/_book.yaml
  docs/hardware/_index.yaml
  docs/tutorials/educators/ion_device.ipynb
  docs/tutorials/educators/neutral_atom.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate PauliTransform (#5498)
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/pauli_string.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove Bristlecone and Foxtail deprecated XmonDevices. (#5483)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/Bristlecone.json
  cirq-google/cirq_google/json_test_data/Bristlecone.repr
  cirq-google/cirq_google/json_test_data/Bristlecone.repr_inward
  cirq-google/cirq_google/json_test_data/Foxtail.json
  cirq-google/cirq_google/json_test_data/Foxtail.repr
  cirq-google/cirq_google/json_test_data/Foxtail.repr_inward
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.json
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.repr
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.repr_inward
  cirq-google/cirq_google/json_test_data/spec.py
  dev_tools/packaging/packaging_test.sh
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Tools to disable op validation (#5530)
  cirq-core/cirq/contrib/hacks/disable_validation.py
  cirq-core/cirq/contrib/hacks/disable_validation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

cirq-core target gatesets: accept additional gates to keep untouched. (#5445)
  cirq-core/cirq/contrib/paulistring/optimize_test.py
  cirq-core/cirq/protocols/json_test_data/CZTargetGateset.json
  cirq-core/cirq/protocols/json_test_data/CZTargetGateset.repr
  cirq-core/cirq/protocols/json_test_data/SqrtIswapTargetGateset.json
  cirq-core/cirq/protocols/json_test_data/SqrtIswapTargetGateset.repr
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset_test.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Phrasing updates to new vendor doc (#5549)
  docs/dev/rfc_process.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Move Engine interfaces to GridDevice (#5558)
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Change output_of to execute commands with shell_tools.run (#5541)
  dev_tools/git_env_tools.py
  dev_tools/incremental_coverage.py
  dev_tools/prepared_env.py
  dev_tools/shell_tools.py
  dev_tools/shell_tools_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix type check of SerializableDevice gate_definitions (#5447)
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Move Sycamore and Sycamore23 to GridDevice. (#5544)
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  docs/tutorials/educators/intro.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_errors.ipynb
  examples/heatmaps.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult, @aasfaw, @rmlarose
