Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Add ability for circuit diagram symbols to depend on transpose (#5269)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Update documentation on qudits
  docs/qudits.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate random circuits in experiments (#5334)
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/experiments/google_v2_supremacy_circuit.py
  cirq-core/cirq/experiments/google_v2_supremacy_circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @mrwojtek

Median device calibrations (#5338)
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_11_16_calibration.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_11_03_calibration.json
  cirq-google/cirq_google/devices/specifications/rainbow_2021_12_10_device_spec.proto.txt
  cirq-google/cirq_google/devices/specifications/weber_2021_12_10_device_spec.proto.txt
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Add median calibrations to package (#5340)
  cirq-google/setup.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

IonQ: Handle loss of precision in floats (#5350)
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

IonQ: Explicitly select lang (#5348)
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix (and test) Diagramming IonQ native circuits (#5346)
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Update unitary for IonQ MS Gate (#5335)
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/json_test_data/MSGate.json
  cirq-ionq/cirq_ionq/json_test_data/MSGate.repr
  cirq-ionq/cirq_ionq/serializer_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Complete gate zoo and fix gate docs (#5344)
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/wait_gate.py
  docs/gatezoo.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Avoid np._bool (#5368)
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/tolerance.py
  docs/tutorials/hidden_linear_function.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Add `cg.ProcessorSampler` (#5361)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/processor_record.py
  cirq-google/cirq_google/workflow/processor_record_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Minor updates to calibration_faq page (#5357)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/__init__.py
  docs/google/calibration_faq.md
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult, @aasfaw, @rmlarose

IonQ: Fixup unitary calculation for GPI (#5365)
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Minor aqt doc fixes (#5358)
  docs/aqt/access.md
Owners: @ma5x, @pschindler, @alfrisch, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Make QASM as consistent as possible (#5366)
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_operation.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Change qubit str representation (#5343)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/contrib/routing/swap_network_test.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/devices/line_qubit_test.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/linear_combinations_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/pauli_sum_exponential_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler_test.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form_test.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
  cirq-core/cirq/value/product_state_test.py
  cirq-core/cirq/vis/state_histogram_test.py
  cirq-core/cirq/work/observable_measurement_data_test.py
  cirq-core/cirq/work/observable_measurement_test.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/line/placement/sequence_test.py
  docs/tutorials/fourier_checking.ipynb
  examples/bb84.py
  examples/examples_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @aasfaw, @rmlarose

Add json serialization for PauliSum (#5367)
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/protocols/json_test_data/PauliSum.json
  cirq-core/cirq/protocols/json_test_data/PauliSum.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Test round trip of gate to operation to gate (#5354)
  cirq-core/cirq/ops/gate_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add missing docstrings for miscellaenous functions and classes (#5363)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions.py
  cirq-core/cirq/value/classical_data.py
  cirq-core/cirq/value/probability.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix some type errors from mypy --next (#5369)
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @erichulburd, @kalzoo, @dbanty

Add entangler errors to median data (#5364)
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_11_16_calibration.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_11_03_calibration.json
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Re-add in pylint plugin (#5374)
  dev_tools/conf/.pylintrc
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

verbosify cirq_type deprecation (#5339)
  cirq-core/cirq/protocols/json_serialization.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add testing helper for consistent channel/mixture (#5247)
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/kraus_channel_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/mixed_unitary_channel_test.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_channels.py
  cirq-core/cirq/testing/consistent_channels_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix lint failure (#5382)
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/requirements/deps/pylint.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add missing riases (#5351)
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add json serialization for PauliInteractionGate (#5381)
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/protocols/json_test_data/PauliInteractionGate.json
  cirq-core/cirq/protocols/json_test_data/PauliInteractionGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add json serialization to diagonal gates (#5356)
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
  cirq-core/cirq/protocols/json_test_data/DiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/DiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/ThreeQubitDiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/ThreeQubitDiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/TwoQubitDiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/TwoQubitDiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix typos and nits in docs/transform.ipynb (#5398)
  docs/transform.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix more mypy --next type errors (#5392)
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/heuristic_decompositions/gate_tabulation_math_utils.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  cirq-core/cirq/value/duration.py
  cirq-core/cirq/vis/histogram.py
  cirq-core/cirq/vis/state_histogram.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Ignore operations on more than 10 qubits in drop_negligible_operations transformer (#5386)
  cirq-core/cirq/transformers/drop_negligible_operations.py
  cirq-core/cirq/transformers/drop_negligible_operations_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Drop support for python 3.6 (#5373)
  .github/workflows/ci.yml
  asv.conf.json
  cirq-aqt/setup.py
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/abc_alt.py
  cirq-core/requirements.txt
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  pyproject.toml
  setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @ma5x, @pschindler, @alfrisch, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @HGSilveri

Fix protobuf version specifiers in cirq-google/requirements.txt (#5408)
  cirq-google/requirements.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Fix CCO related nits in `cirq.Operation` and `cirq.TaggedOperation` (#5390)
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Change Pasqal to use transformers (#5377)
  cirq-pasqal/cirq_pasqal/__init__.py
  cirq-pasqal/cirq_pasqal/json_resolver_cache.py
  cirq-pasqal/cirq_pasqal/json_test_data/PasqalGateset.json
  cirq-pasqal/cirq_pasqal/json_test_data/PasqalGateset.repr
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset_test.py
Owners: @HGSilveri, @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove can_add_operation_into_moment deprecation. (#5379)
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @HGSilveri

Major organizational restructure of top level tabs (#5394)
  docs/_book.yaml
  docs/build/_index.yaml
  docs/circuits.ipynb
  docs/custom_gates.ipynb
  docs/experiments/_index.yaml
  docs/gates.ipynb
  docs/hardware/_index.yaml
  docs/noise/_index.yaml
  docs/noisy_simulation.ipynb
  docs/operators.ipynb
  docs/simulate/_index.yaml
  docs/start.ipynb
  docs/transform/_index.yaml
  docs/transformers.ipynb
  docs/tutorials/basics.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix typo in docs/tutorials/state_histograms.ipynb (#5396)
  docs/tutorials/state_histograms.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Keep --pre from installing protobuf 4.x (#5385)
  cirq-google/requirements.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
