Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Fix qcvv/xeb_theory.ipynb as part of docs cleanup for Cirq 1.0 (#5202)
  docs/qcvv/xeb_theory.ipynb
Owners: @mrwojtek, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Make the quantum state generic (#5255)
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/simulator_base_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add calibration-to-noise pipeline (#5187)
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Add q helper function for constructing common qubit types. (#5181)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/qid_util.py
  cirq-core/cirq/ops/qid_util_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Unpin sympy and ignore sympy type errors (#5226)
  cirq-core/requirements.txt
  dev_tools/conf/mypy.ini
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Make check scripts run pytest in parallel (#5143)
  check/pytest
  check/pytest-and-incremental-coverage
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove deprecated log_of_measurement_results parameters (#5233)
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/ClassicalDataDictionaryStore.json
  cirq-core/cirq/protocols/json_test_data/ClassicalDataDictionaryStore.repr
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/value/classical_data.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Bump tensorflow-docs version (#5250)
  dev_tools/docs/build_api_docs.py
  dev_tools/requirements/deps/tensorflow-docs.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

cirq-ionq: Retry non-standard cloudflare errors (#5237)
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove device from circuits (#5189)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
  cirq-core/cirq/circuits/circuit_dag_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
  cirq-core/cirq/protocols/json_test_data/Circuit.json_inward
  cirq-core/cirq/protocols/json_test_data/Circuit.repr_inward
  cirq-core/cirq/protocols/json_test_data/FrozenCircuit.json
  cirq-core/cirq/protocols/json_test_data/FrozenCircuit.json_inward
  cirq-core/cirq/protocols/json_test_data/FrozenCircuit.repr_inward
  cirq-core/cirq/testing/devices_test.py
  cirq-core/cirq/testing/sample_circuits.py
  cirq-core/cirq/testing/sample_circuits_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap_test.py
  cirq-google/cirq_google/api/v1/programs.py
  cirq-google/cirq_google/api/v1/programs_test.py
  cirq-google/cirq_google/json_test_data/CalibrationLayer.json
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumExecutable.json
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumExecutableGroup.json
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/gate_sets_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
  cirq-google/cirq_google/serialization/serializer.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_sampler.py
  cirq-pasqal/cirq_pasqal/pasqal_sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @HGSilveri

Migrate google/best_practices.md to google/best_practices.ipynb as part of docs cleanup for Cirq 1.0 (#5236)
  docs/google/best_practices.ipynb
  docs/google/best_practices.md
  docs/google/calibration_faq.md
  docs/google/devices.md
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/start.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Document CIRCUIT_TYPE and hide other typevars/aliases in circuits.py (#5229)
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix tutorials/qaoa.ipynb as part of docs cleanup for Cirq 1.0 (#5200)
  docs/tutorials/qaoa.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Skip "magic trailing comma" when formatting with black (#5170)
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Cleaning up tutorials/variational_algorithm.ipynb (#5185)
  docs/tutorials/variational_algorithm.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove custom cirq_type (#5249)
  cirq-core/cirq/ops/boolean_hamiltonian.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Use sorted instead of set for random.sample (#5248)
  cirq-core/cirq/circuits/circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate Gateset.accept_global_phase_op (#5239)
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
  cirq-core/cirq/protocols/json_test_data/Gateset.json_inward
  cirq-core/cirq/protocols/json_test_data/Gateset.repr_inward
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @HGSilveri

Ignore skip-magic-trailing-comma formatting with git blame (#5257)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix Docs: cirq/tutorials/educators/chemistry (#5251)
  docs/tutorials/educators/chemistry.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Convenience methods for modifying GoogleNoiseProperties (#5188)
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Exclude TYPE_CHECKING from docs (#5261)
  dev_tools/docs/build_api_docs.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Re-introduce less idiomatic code for `_group_interchangeable_qubits` implementation (#5273)
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/gate_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Update ops notebook (#5245)
  docs/_book.yaml
  docs/operators.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Enable CI checks on master push event. (#5275)
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix push event to fallback to run_id in ci (#5277)
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Refactor the single qubit Clifford gate (#5069)
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

[WIP] Expose GoogleNoiseProperties at top level (#5209)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/GoogleNoiseProperties.json
  cirq-google/cirq_google/json_test_data/GoogleNoiseProperties.repr
  cirq-google/cirq_google/json_test_data/spec.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Update readme file to use new build badge. (#5278)
  README.rst
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix default QuantumStateRepresentation sampler for qudits (#5234)
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/qis/clifford_tableau.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Serialize datetime (#5274)
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/datetime.datetime.json
  cirq-core/cirq/protocols/json_test_data/datetime.datetime.repr
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Extract SV/DM/CliffordSimState from simulators (#5260)
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

[cirqflow] Hardcoded qubit placement (#5194)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.HardcodedQubitPlacer.json
  cirq-google/cirq_google/json_test_data/cirq.google.HardcodedQubitPlacer.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/qubit_placement.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
  docs/google/qubit-placement.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @aasfaw, @rmlarose

GridDeviceMetadata: allow qubit pairs in both directions (#5241)
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.repr
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Deprecate the final_step_result parameter of TrialResult (#5281)
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Use Boolean Hamiltonian gates for QAOA example (#5098)
  examples/examples_test.py
  examples/qaoa.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Support complex params in `work` module (#5285)
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add parameters for PauliString and GlobalPhase (#5089)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/type_alias.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/sampler.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Bump types so that SimulatesIntermediateState isn't bound to ActOnArgs (#5283)
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Check that control and target qubits disjoint in ControlledOperations (#5286)
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
