Repository rht/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Remove decompose_operation deprecation from device. (#5380)
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/testing/devices.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
  docs/tutorials/educators/ion_device.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @HGSilveri, @aasfaw, @rmlarose

Remove stale condition from assert_controlled_and_controlled_by_identical test (#5391)
  cirq-core/cirq/testing/consistent_controlled_gate_op.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Reject formulas as keys of ParamResolvers (#5384)
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/resolver_test.py
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

Deprecate implementation of _base_iterator (#5402)
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix from_diagram docstring on GridQubit. (#5307)
  cirq-core/cirq/devices/grid_qubit.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Custom-state-representation simulator infra (#5417)
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator.py
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Do not generate default repetition ids if use_repetition_ids=False (#5419)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix docstrings in gate(set|family) (#5415)
  cirq-core/cirq/ops/gateset.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Remove unused parameter in test (#5423)
  cirq-core/cirq/contrib/paulistring/pauli_string_dag_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecating cross_entropy_benchmarking and grid_parallel_two_qubit_xeb (#5424)
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking_test.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  examples/cross_entropy_benchmarking_example.py
  examples/examples_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @cduck

Change switch_to_new condition in TwoQubitCompilationTargetGateset to switch only when it's optimal in terms of 2q gate counts (#5405)
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Update release instructions to include Zenodo citation update (#5421)
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Simplify cd to the executing script directory (#5412)
  check/all
  check/asv_run
  check/build-changed-protos
  check/doctest
  check/format-incremental
  check/mypy
  check/nbformat
  check/npm
  check/npx
  check/pylint
  check/pylint-changed-files
  check/pytest
  check/pytest-changed-files
  check/ts-build
  check/ts-coverage
  check/ts-lint
  check/ts-lint-and-format
  check/ts-test
  check/ts-test-e2e
  dev_tools/build-protos.sh
  dev_tools/pr_monitor.sh
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Improve support for CCOs in `cirq.merge_operations` (#5393)
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate least_squares functions in fidelity_estimation (#5428)
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/fidelity_estimation_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @cduck

Removing GateSpecification.valid_targets and deprecating some target types (#5376)
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Make all non-analytical gate decompositions respect global phase (#5420)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
  cirq-core/cirq/ops/swap_gates_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Support prepending noise (#5410)
  cirq-core/cirq/contrib/noise_models/noise_models.py
  cirq-core/cirq/contrib/noise_models/noise_models_test.py
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/devices/noise_model_test.py
  cirq-core/cirq/devices/thermal_noise_model.py
  cirq-core/cirq/devices/thermal_noise_model_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Deprecate QuantumEngineSampler (#5432)
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_sampler_test.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Update repr of pauli strings (#5444)
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Phrasing pass for Circuits (#5441)
  docs/circuits.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Revert "Bump npm from 7.16.0 to 8.11.0 in /cirq-web/cirq_ts" (#5439)
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

GridDevice gateset, gate_duration, and compilation_target_gateset support (#5315)
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

Fix minor grammar issue on specification page. (#5446)
  docs/google/specification.md
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck, @verult

GridDeviceMetadata gate durations: docstring for looking up gate duration via searching through GateFamilies (#5438)
  cirq-core/cirq/devices/grid_device_metadata.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Avoid subshell executions for $(pwd) (#5436)
  .github/workflows/release-master.yml
  check/build-changed-protos
  dev_tools/build-protos.sh
  dev_tools/docs/build-rtd-docs.sh
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Add CircuitOperation blurb (#5399)
  docs/circuits.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Add outputs back into rigetti getting started guide. (#5443)
  docs/tutorials/rigetti/getting_started.ipynb
Owners: @erichulburd, @kalzoo, @dbanty, @aasfaw, @quantumlib/cirq-maintainers, @vtomole, @cduck

Add an icon for Heatmaps in Noise overview (#5433)
  docs/noise/_index.yaml
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix tests that break python-repeat (#5431)
  cirq-core/cirq/contrib/acquaintance/topological_sort_test.py
  cirq-core/cirq/study/sweeps_test.py
  cirq-core/cirq/testing/circuit_compare_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Rigetti Getting Started Docs Cleanup (#5372)
  docs/tutorials/rigetti/getting_started.ipynb
Owners: @erichulburd, @kalzoo, @dbanty, @aasfaw, @quantumlib/cirq-maintainers, @vtomole, @cduck

OpenFermion tutorial moved to recirq, delete it (#5453)
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/tutorials/educators/chemistry.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

Pass through None during param resolution (#5466)
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/resolver_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

IonQ: Include json body of error response when possible (#5349)
  cirq-ionq/cirq_ionq/ionq_client.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Document classical control (#5403)
  cirq-core/cirq/ops/raw_types.py
  docs/classical_control.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @aasfaw, @rmlarose

cirq.measure - accept list arguments (#5411)
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

pr_monitor: post empty string as commit message if PR body is empty (#5458)
  dev_tools/pr_monitor.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Make IonQ native gate docstring format correctly (#5416)
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @cduck

Lazily load scipy.linalg (#5461)
  cirq-core/cirq/devices/thermal_noise_model.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck

Fix more check/mypy --next errors (#5450)
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/calibration/engine_simulator_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @cduck, @wcourtney, @verult

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole @cduck

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @cduck @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole @cduck

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole @cduck

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole @cduck

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole @cduck

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck @verult

docs/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @cduck

docs/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck

docs/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

docs/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck
docs/tutorials/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole @cduck

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @cduck
